
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0; /*Unsetting UserAgentStyles margin of 8px*/
}


/* |||||||||||||||||||||||||||||||||| Screen begin*/
#sidepanel {
    height: 120%;
    min-width: 80px;
    width: 7%;
    position: absolute;
    left: 0%;
    border-right: 1px solid #000;
    box-sizing: border-box;
    z-index: 1;
}

#map {
    height: 120%;
    width: 93%;
    max-width: calc(100% - 80px);
    position: absolute;
    right: 0%;
    z-index: 1;
}



/*Screen theming begin*/
.LightMode #map {
    background-color: #FFF;
}
.LightMode #sidepanel {
    background-color: #FFF;
}

.DarkMode1 #map {
    background-color: #353B45;
}
.DarkMode1 #sidepanel {
    background-color: #21252B;
}

.DarkMode2 #map {
    background-color: #33393B;
}
.DarkMode2 #sidepanel {
    background-color: #232729;
}
/*Screen theming end*/
/* |||||||||||||||||||||||||||||||||| Screen end*/





/* |||||||||||||||||||||||||||||||||| Buttons begin*/
#Buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

#Buttons button {
    flex-grow: 1;
}

#DarkMode1Button {
    order: 1;
    display: none;
}

#DarkMode2Button {
    order: 1;
    display: none;
}

#LightModeButton {
    order: 1;
    display: none;
}


#SpawnButtonP1 {
    order: 2;
}

#SpawnButtonP2 {
    order: 3;
}


#SelectAllButtonP1 {
    order: 4;
}

#SelectAllButtonP2 {
    order: 5;
}

#UnSelectAllButtonP1 {
    order: 6;
}

#UnSelectAllButtonP2 {
    order: 7;
}


#DevModeOnButton {
    order: 8;
}

#DevModeOffButton {
    order: 8;
    display: none;
}

#RemainSelectedCheckboxContainer {
    order: 9;
    display: none;
}

#ContextMenuShownCheckboxContainer {
    order: 10;
    display: none;
}

#PromptOnRefreshCheckboxContainer {
    order: 11;
    display: none;
}


/*Buttons theming begin*/
.LightMode #DarkMode1Button {
    display: block;
}

.DarkMode1 #DarkMode2Button {
    display: block;
}

.DarkMode2 #LightModeButton {
    display: block;
}

.DevMode #DevModeOnButton {
    display: none;
}

.DevMode #DevModeOffButton,
.DevMode #RemainSelectedCheckboxContainer,
.DevMode #ContextMenuShownCheckboxContainer,
.DevMode #PromptOnRefreshCheckboxContainer {
    display: block;
}
/*Buttons theming end*/
/* |||||||||||||||||||||||||||||||||| Buttons end*/





/* |||||||||||||||||||||||||||||||||| Blobs begin*/
.P1 {
    background: rgb(235, 0, 0);
}

.P2 {
    background: hsl(235, 85%, 35%);
}

.Building {
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    z-index: 5;
}

.Spawner,
.Refinery{
    height: 80px;
    width: 80px;
}

.Blob {
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    z-index: 15;
}

.SmallBlob {
    height: 20px;
    width: 20px;
    transition: left 2s, right 2s, top 2s, bottom 2s linear;
    z-index: 25;
}


#P1Spawner {
    top: calc(15% - 40px);
    left: calc(15% - 40px);
}

#P1Blob1 {
    top: calc(4% - 10px);
    left: calc(3% - 10px);
}

#P1Blob2 {
    top: calc(20% - 10px);
    left: calc(3% - 10px);
}

#P1Blob3 {
    top: calc(55% - 10px);
    left: calc(45% - 10px);
}

#P1Blob4 {
    top: calc(50% - 10px);
    left: calc(55% - 10px);
}

#P1Blob5 {
    top: calc(40% - 10px);
    left: calc(45% - 10px);
}

#P1Blob6 {
    top: calc(70% - 10px);
    left: calc(65% - 10px);
}

#P1Blob7 {
    top: calc(50% - 10px);
    left: calc(75% - 10px);
}

#P1Blob8 {
    top: calc(35% - 10px);
    left: calc(85% - 10px);
}

#P2Spawner {
    top: calc(85% - 40px);
    left: calc(85% - 40px);
}

#P2Blob1 {
    top: calc(96% - 10px);
    left: calc(97% - 10px);
}

#P2Blob2 {
    top: calc(45% - 10px);
    left: calc(55% - 10px);
}

#P2Blob3 {
    top: calc(80% - 10px);
    left: calc(75% - 10px);
}

#P2Blob4 {
    top: calc(15% - 10px);
    left: calc(65% - 10px);
}

#P2Blob5 {
    top: calc(65% - 10px);
    left: calc(20% - 10px);
}

#P2Blob6 {
    top: calc(60% - 10px);
    left: calc(85% - 10px);
}

#P2Blob7 {
    top: calc(27% - 10px);
    left: calc(37% - 10px);
}

#P2Blob8 {
    top: calc(67% - 10px);
    left: calc(78% - 10px);
}

/*Blobs theming begin*/
.LightMode .Blob:hover,
.LightMode .Blob.Selected {
    border: 1px solid #000;
}

.DarkMode1 .Blob:hover,
.DarkMode1 .Blob.Selected {
    border: 1.5px solid #000;
}

.DarkMode2 .Blob:hover,
.DarkMode2 .Blob.Selected {
    border: 1.5px solid #000;
}


.LightMode .Building:hover,
.LightMode .Building.Selected {
    border: 1.5px solid #000;
}

.DarkMode1 .Building:hover,
.DarkMode1 .Building.Selected {
    border: 2px solid #000;
}

.DarkMode2 .Building:hover,
.DarkMode2 .Building.Selected {
    border: 2px solid #000;
}
/*Blobs theming end*/
/* |||||||||||||||||||||||||||||||||| Blobs end*/





/* |||||||||||||||||||||||||||||||||| Resources begin*/
.ResourcePile {
    position: absolute;
    border-radius: 50%;
    z-index: 100;
    height: 160px;
    width: 160px;
    box-sizing: content-box;
    border: 1px solid #000;
}

.Resource {
    position: absolute;
    border-radius: 50%;
    z-index: 101;
    height: 20px;
    width: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid #000;
    box-sizing: content-box;
    display: inline-block;
}


#ResourcePileA {
    top: calc(15% - 80px);
    left: calc(30% - 80px);
}

#ResourcePileB {
    top: calc(85% - 80px);
    left: calc(70% - 80px);
}


.Resource1 {
    top: calc(50% - 11px);
    left: calc(50% - 11px);
        z-index: 115;
}

.Resource2 {
    top: calc(40% - 11px);
    left: calc(50% - 11px);
    z-index: 114;
}

.Resource3 {
    top: calc(50% - 11px);
    left: calc(60% - 11px);
    z-index: 114;
}

.Resource4 {
    top: calc(60% - 11px);
    left: calc(50% - 11px);
    z-index: 114;
}

.Resource5 {
    top: calc(50% - 11px);
    left: calc(40% - 11px);
    z-index: 114;
}

.Resource6 {
    top: calc(30% - 11px);
    left: calc(50% - 11px);
    z-index: 113;
}

.Resource7 {
    top: calc(40% - 11px);
    left: calc(60% - 11px);
    z-index: 113;
}

.Resource8 {
    top: calc(50% - 11px);
    left: calc(70% - 11px);
    z-index: 113;
}

.Resource9 {
    top: calc(60% - 11px);
    left: calc(60% - 11px);
    z-index: 113;
}

.Resource10 {
    top: calc(70% - 11px);
    left: calc(50% - 11px);
    z-index: 113;
}

.Resource11 {
    top: calc(60% - 11px);
    left: calc(40% - 11px);
    z-index: 113;
}

.Resource12 {
    top: calc(50% - 11px);
    left: calc(30% - 11px);
    z-index: 113;
}

.Resource13 {
    top: calc(40% - 11px);
    left: calc(40% - 11px);
    z-index: 113;
}

.Resource14 {
    top: calc(20% - 11px);
    left: calc(50% - 11px);
    z-index: 112;
}

.Resource15 {
    top: calc(30% - 11px);
    left: calc(60% - 11px);
    z-index: 112;
}

.Resource16 {
    top: calc(40% - 11px);
    left: calc(70% - 11px);
    z-index: 111;
}

.Resource17 {
    top: calc(50% - 11px);
    left: calc(80% - 11px);
    z-index: 111;
}

.Resource18 {
    top: calc(60% - 11px);
    left: calc(70% - 11px);
    z-index: 111;
}

.Resource19 {
    top: calc(50% - 11px);
    left: calc(20% - 11px);
    z-index: 111;
}

.Resource20 {
    top: calc(80% - 11px);
    left: calc(50% - 11px);
    z-index: 111;
}

.Resource21 {
    top: calc(70% - 11px);
    left: calc(40% - 11px);
    z-index: 111;
}

.Resource22 {
    top: calc(60% - 11px);
    left: calc(30% - 11px);
    z-index: 111;
}

.Resource23 {
    top: calc(70% - 11px);
    left: calc(60% - 11px);
    z-index: 111;
}

.Resource24 {
    top: calc(40% - 11px);
    left: calc(30% - 11px);
    z-index: 111;
}

.Resource25 {
    top: calc(30% - 11px);
    left: calc(40% - 11px);
    z-index: 112;
}
/* |||||||||||||||||||||||||||||||||| Resources end*/
